.login-bg {
  width: 100vw;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg?cs=srgb&dl=pexels-pixabay-62623.jpg&fm=jpg');
  /* background-color: #FFE5E5; */
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.login-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 35%;
  max-width:400px;
  min-width: 300px;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.6rem;
}

.login-form-group {
  display:flex;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #eaeaea;
}

.login-form-group input{
  height: 50px;
  width:75%;
  background: transparent;
  border:none;
  outline: none;
  color:#797979;
  font-size: 16px;


}
.login-form-group img{
  margin : 0 4%;
}


.login-remember-me {
  display: flex;
  align-items: self-end;
  
}

.login-button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  background-color: #1679AB;/*#80B3FF;*/

  color: #ffffff;
  font-size: 1rem;
  margin-top:1.5rem;
  cursor: pointer;
  
}

.login-button:hover {
  background-color: #1D5D9B;
  
  
}