/* src/App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .header h1 {
    flex: 10;
    margin: 0;
    text-align: left;
  
  }
  
  .login-button {
    flex: 1;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: #0056b3;
  }
  