/* src/FlightSearch.css */
body, html { margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f5f5f5; }

* { box-sizing: border-box; }
.App {
  /* Specify the URL of the new background image */
  background-image: url('https://m.media-amazon.com/images/I/617YmXVHk2L._SL1500_.jpg'); 

  /* Adjust background properties as needed */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}
.flight-search-container {
  display: flex;
  justify-content:center;
  align-items: center;
  height: calc(100vh); /* Adjust height to account for the header */
  /* Adjust margin to account for the header */
  /* Placeholder image, replace with your desired image URL */
  background-size: cover;
  background-position: center;
}

.form-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 300px;
  width: 30%;
}

.form-container h1{
  padding-bottom: 40px;
  font-size: 30px;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.radio-buttons label {
  margin-right: 20px;
}

.input-field {
  margin-bottom: 15px;
  text-align: left;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input,
.input-field select {
  width: calc(100%);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #0056b3;
}


.buttons{
  display: flex;
  gap:2%;
}



.login-button {
  
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background: #0056b3;
}

@media (max-width: 1000px) {
   .form-container{
    margin: auto;
   }
}
.search-options{
position: absolute;  
min-width: 240px;
width:26%;
  
  overflow-y: auto;
  
  
  background-color: white;
}

ul{
  border: 1px black solid;
}


li:hover{
  background-color:#ccc;
}



.s-o-l{
  text-align: left;
  list-style-type: none;
  padding :0px 10px;  
}